*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    font-size: 1rem;
    margin:0;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    color-scheme: light dark;
    --bg-color: light-dark(white, black);
    --primary-color: light-dark(#606a12,#dbdbae);
    --text-color: light-dark(white,black);
    --helper-text-color: light-dark(#ff8282,#ff0000);
    --helper-text-ej-color: light-dark(#e8e8e8,gray);
    --form-btn-color: light-dark(#9eac33,#84921d);
    /* --form-btn-icon-color: light-dark(white,); */
    --form-btn-hover-color: light-dark(#84921d,#9eac33);
    --bg-list-color: light-dark(#dbdbae,#606a12);
    --edit-btn-color: light-dark(#fdda6e,#e7b211);
    --edit-btn-hover-color: light-dark(#e7b211,#fdda6e);
    --delete-btn-color: light-dark(#ff8282,#ea5d5d);
    --delete-btn-hover-color: light-dark(#ea5d5d,#ff8282);
}